* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app {
  display: flex;
}

.app__content {
  flex-grow: 1;
  padding: 20px;
}