{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "printWidth": 200,
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}