.monthly-calendar {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header,
  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__header {
    background-color: #f8f9fa;
    text-align: center;
    font-weight: bold;
  }

  &__day {
    padding: 10px;
    border: 1px solid #ddd;
  }

  &__body {
    & > * {
      border: 1px solid #ddd;
    }
  }

  &__cell {
    min-height: 15vh;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    flex-direction: column;


    &--holiday {
      color: red;
    }

    &--saturday {
      color: blue;
    }

    &--other-month {
      color: #dddddd;
      background-color: #f4f4f4;
    }
  }

  &__cell-date {
    text-align: right;
    margin-right: 15px;
    margin-bottom: 5px;
  }

  &__cell-schedules {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__schedule-empty {
    position: relative;
    padding: 4px 8px;
    min-height: 40px;
  }

  &__schedule {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 4px 8px;
    min-height: 40px;

    &__title {
      font-size: 0.875rem;
      font-weight: bold;
      margin-bottom: 2px;
      color: #1a1a1a;
    }

    &__time {
      position: absolute;
      bottom: 4px;
      left: 8px;
      font-size: 0.75rem;
      color: #aaaaaa;
    }

    &__end-time {
      position: absolute;
      bottom: 4px;
      right: 8px;
      font-size: 0.75rem;
      color: #aaaaaa;
    }

    &__line {
      position: absolute;
      height: 4px;
      background-color: #007bff;
      border-radius: 2px;
      top: 0;
    }

  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 5px
  }

  &__button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  &__reddot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}