.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  &__group {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;

    &-title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;

    &-time-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;

      &-time {
        font-size: 11px;
        color: #555;
      }


      &-title {
        font-size: 16px;
        font-weight: bold;
        color: #007bff;
      }
    }

    &-contents {
      font-size: 16px;
      color: #777;
    }
  }
}